@{
    ViewData["Title"] = "Download";
}

<h2>Download</h2>

<div>
    @foreach (var item in ViewData.Model)
    {
        @Html.ActionLink((string)item, "DownloadFile", new { filename = item });
    }
</div>
